body { background-color: #942424;
    background-image: url("images/webb-dark.png");
    color:  #221811;
    font-family: Verdana,Arial,sans-serif;
    background-image: url("images/webb-dark.png");
}

h4 {
    background-color: #0d8863; font-size: 1.2em; padding-left: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

header {
    background-color: #1c46f1;
    text-align: left;
    height: 100px; background-image: url("images/logospidey2.webp");
    background-repeat: no-repeat;
}

h1 {
    padding-top: 45px; padding-left: 220px; font-size: 3em;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em; padding-top: 10px;
    float: left;
    width: 200px; 
}
nav a {text-decoration: none;}
nav a:link {color: #dd0dcc;}
nav a:visited {color: #ce501f;}
nav a:hover {color: #437bf3;}
nav ul {list-style-type: none; padding-left: 0;}


footer {
    background-color: #1c46f1;
    font-size: small;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px; border-top: 2px  #1c46f1;
}

#wrapper { background-color: #811616;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    min-width: 900px;
    max-width: 1280px; 
    box-shadow: 3px 3px 3px #666666;
    }
    
main {
        padding-left:  0em;
        padding-right: 0em;
        padding-bottom: 2em;
        display: block;
        margin-left: 200px;
        padding-top: 0px; background-color: #15e2d8;
}

.details {
    padding-left: 20%; padding-right: 20%;
    overflow: auto;
}

img {
    padding-left: 10px; padding-right: 10px;
}

#frontspidey {background-image: url(images/Mains.jpg);
    background-size: 100% 100%; height: 250px;}
#SpideyVillians {background-image: url(images/villians1.jpg);
    background-size: 100% 100%; height: 150px;}

table{width: 90%; margin: auto;
    border-spacing: 0;
    background-color: rgb(8, 168, 80);}
    th, td {padding: 10px;}
    tr:nth-of-type(odd) {background-color: #04e43c;}